<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.covidcensusapp.covidcensus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CovidCensus">
        <activity android:name="com.covidcensusapp.covidcensus.PrivacyPolicy"></activity>
        <activity android:name="com.covidcensusapp.covidcensus.share" />
        <activity android:name="com.covidcensusapp.covidcensus.faq" />
        <activity android:name="com.covidcensusapp.covidcensus.Feedback" />
        <activity android:name="com.covidcensusapp.covidcensus.AboutUs" />
        <activity android:name="com.covidcensusapp.covidcensus.CoHelpline" />
        <activity android:name="com.covidcensusapp.covidcensus.view.VaccinePortal" />
        <activity android:name="com.covidcensusapp.covidcensus.labActivity" />
        <activity android:name="com.covidcensusapp.covidcensus.CovidInfo" />
        <activity android:name="com.covidcensusapp.covidcensus.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.covidcensusapp.covidcensus.CountryActivity" />
        <activity android:name="com.covidcensusapp.covidcensus.MainActivity" />
    </application>

</manifest>